#section0{
	/* max-width: 50% !important; */
	height: 50% !important;
	z-index: -1;
	background-color: transparent;
	
}
/* .intro{
	
	height: 25% ; 
	width: 50% !important;

} */
/* .section{
	text-align:center;
	width: 50%;
	height: 100px !important;
	border: 1px solid black;
} */